body {
    font-family: 'Sansita';
    background-color: #F4F5F7;
}

.logo-container {
    position: fixed; /* Mantém a logo fixa na tela */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1; /* Coloca a logo atrás de outros conteúdos */
    opacity: 0.3; /* Ajuste o valor da opacidade conforme necessário */
}

.logo-fundo {
    background-image: url(/logo_confeitaria_tosta.jpg);
    background-size: cover;
    height: 170px;
    width: 170px;
    margin-left: 25px;
    border-radius: 15px;
    margin-top: -60px;
} 

