.banner {
    background-image: url(/brownie_banner_3.jpg);
    background-position: center bottom;
    background-size: cover;
    height: 328px;
    width: 1272px;
    border-radius: 15px;
    margin-top: -120px;
}

.teste {
    background-color: red;
    margin-left: 17%;
    margin-right: 17%;
    height: 40px;
}

 

.logo {
    height: 170px;
    width: 170px;
    margin-left: 50px;
    margin-top: -60px;
}



.titulo {
    margin-left: 17%;
}

.pesquisa {
    border: 0;
    border-bottom: 2px solid #343331;
    background-color: #F4F5F7;
    outline: 0;
    padding-left: 10px;
    width: 250px;
}

.lupa {
    margin:0px 0px 0px -25px;
}
