
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css">
<div class="img-fluid banner mx-auto border border-5 border-white"></div>
    <div>
        <img src="/logo_confeitaria_tosta.jpg" class="logo img-thumbnail img-fluid float-start me-4" alt="Tosta Confeitaria">
        <h1 class="titulo"><b>Tosta Confeitaria</b></h1>   
        <div class="insta">
            <h3>&#64;tosta_confeitaria</h3> 
            <i class="bi bi-instagram ms-2"></i>
        </div>        
    </div>
<br>
<div class="d-flex mt-5 justify-content-start">
    <form class="form-inline pesquisa-container"> 
        <input class="pesquisa" type="text" placeholder="Digite o que você procura">
        <i class="fa fa-search fa-lg lupa"></i>
    </form>
    <form class="d-flex w-25">
        <p class="w-50">Ordenar por:</p>
        <select class="form-select form-select-sm">
            <option>Mais vendidos</option>
            <option>Menor preço</option>
            <option>Maior preço</option>
        </select>
    </form>
</div>

<h2><b>Destaques</b></h2>

<div class="row g-3">
    <div *ngFor="let item of lista" class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
        <div class="card text-center bg-light h-100">
            <a href="#">
                <img src="/brownie_kakarajo.jpg" class="card-img-top img-produto">
            </a>
            <div class="card-body">
                <h5 class="card-title"><b>{{item.nome}}</b></h5>
                <p class="card-text">{{item.descricao}}</p>
                <h3><b>R$ {{item.preco}}</b></h3>
                <button class="btn botao mt-2 d-block mx-auto"><b>Comprar</b></button>
            </div>
        </div>
    </div>
</div>

