<section class="h-100 gradient-form" style="background-color: #eee;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-10">
          <div class="card rounded-3 text-black">
            <div class="row g-0">
              <div class="col-lg-6">
                <div class="card-body p-md-5 mx-md-4">
  
                  <div class="text-center">
                    <img src="/logo_confeitaria_tosta.jpg"
                      style="width: 185px;" alt="logo">
                  </div>
  
                  <form>  
                    <div data-mdb-input-init class="form-outline mb-4">
                      <input type="email" id="form2Example11" class="form-control"
                        placeholder="E-mail ou telefone" />                      
                    </div>
  
                    <div data-mdb-input-init class="form-outline mb-4">                      
                      <input type="password" id="form2Example22" class="form-control" 
                      placeholder="Senha"/>
                    </div>
  
                    <div class="text-center pt-1 mb-5 pb-1">
                      <button data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block fa-lg mb-3 btn-red-wine" type="button">Entrar
                      </button>
                      <br>
                      <a class="text-muted" href="#!">Esqueceu a senha? </a>
                    </div>
  
                    <div class="d-flex align-items-center justify-content-center pb-4">
                      <p class="mb-0 me-2">Não tem uma conta?</p>
                      <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-danger">Crie uma conta</button>
                    </div>
  
                  </form>
  
                </div>
              </div>
              <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                  <h4 class="mb-4">Mais que uma confeitaria!</h4>
                  <p class="small mb-0">De gerações passadas da família Tosta sempre surgiram doces e ideias maravilhosas! 
                    No entanto, ainda faltava algo: estava faltando um lugar onde todo o acervo de doces pudesse alcançar 
                    você, desde os doces feitos pela vovó até as guloseimas mais saborosas e fitness. Nós, da confeitaria 
                    Tosta, temos o compromisso de honrar as receitas passadas entre gerações, e agora também de demonstrar 
                    todo o amor e carinho diretamente para nossos clientes.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
